@page "/"

@using Client.Services
@using Models;

@inject TodoItemService TodoItemService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<table>
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Birthdate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TodoItem todoItem in TodoList)
        {
            <tr>
                <td>
                    @todoItem.ItemName
                </td>
                <td>
                    @todoItem.Priority
                </td>
                <td>
                    @(todoItem.DateDue?.ToString("yyyy-MM-dd") ?? "No Due Date")
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    IEnumerable<TodoItem> TodoList = [];

    protected override async Task OnInitializedAsync()
    {
        TodoList = await TodoItemService.GetTodoList();
    }
}
