@using Models
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">@title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you would like to permanently delete this "To Do" item? It can not be retrieved if deleted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="Cancel">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"@onclick="Confirm">Delete</button>
      </div>
    </div>
  </div>
</div>

@code {
  [Parameter]
  public ToDo? ToDo { get; set; }

  [Parameter]
  public EventCallback<bool> Close { get; set; }

  private string title = string.Empty;
  protected override void OnParametersSet()
  {
    title = $"Delete {ToDo?.Name}?";
  }
  private void Confirm()
  {
    Close.InvokeAsync(true);
  }
  private void Cancel()
  {
    Close.InvokeAsync(false);
  }
}
